{%extends 'base.html'%}
{% load static %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}

<div style="background:url('https://source.unsplash.com/user/erondu'); height: 70vh; background-size: cover; background-position: center;"> 

    <div id="intro">
        
        <div class="mask rgba-black-strong" style="height: 70vh;">
  
            <div class="container-fluid d-flex align-items-center justify-content-center h-50">
  
                <div class="row d-flex justify-content-center text-center">
  
                    <div class="col-lg-12 pt-5 mt-5">
  
                        <!-- Heading -->
                        <h3 class="display-4 font-weight-bold white-text pt-5">Awwards!!</h3>
  
                        <!-- Divider -->
                        <hr class="hr-light">
                        <p class="font-weight-bold white-text" style="font-size: 30px;">Are the Website Awards that recognize and promote the talent and effort of the best developers, designers and web agencies in the world.</p>
                       
                    </div>
  
                </div>
  
            </div>
  
        </div>
  
    </div>
  
  
  </div>
  <div class="pt-4 mt-4"></div>
  
  <!-- end of landing layout -->
  <div class="container-fluid">
    <div class="mb-2 pb-2 pl-4 pr-2 ml-4 mr-1">
        <h4 class="display-6 font-weight-bold" style="font-size:40px;"> Sites of the day </h4>
    </div>
  





<!-- {% if highest %}
<div class="of-the-day-wrapper"
	style="background-image: url('{{highest.screenshot.url}}');">
	<div class="of-the-day-wrapper-top">
		<label>
			Site of the day <span>{{date}}</span>
		</label>
	</div>
	<div class="of-the-day-wrapper-middle">
		<a href="{% url 'project' high.id %}">{{highest.name}}</a>
		<div class="owner-info">BY <a href="{% url 'profile' high.profile.user.id %}">{{highest.profile.user.username}}</a> FROM BY {{highest.profile.location}}</div>
		<div class="d-flex">
			<div id="average">{{highest.score | floatformat:0}}<span>average</span></div>
			<div class="design">{{highest.design | floatformat:0}}<span>design</span></div>
			<div class="usability">{{highest.usability | floatformat:0}}<span>usability</span></div>
			<div class="content">{{highest.content | floatformat:0}}<span>content</span></div>
		</div>
	</div>
	<div class="of-the-day-wrapper-bottom">
		<div class="voters">
			<a href="{% url 'profile' high.profile.user.id %}"><img src="{{highest.profile.profile_pic.url}}"></a>			
		</div>
	</div>
</div>
{%endif%}

<div class="text">
	Submissions | <span> We need your vote</span>
</div>
{% if projects %}
<div class="submissions-wrapper">
	{% for project in projects %}
	<div class="col-md-4">
		<div class="card radius shadowDepth1">
			<div class="card__image border-tlr-radius">
				<a href="{% url 'project' project.id %}"><img src="{{project.screenshot.url}}"
					alt="image" class="border-tlr-radius"></a>
			</div>
			<div class="card__content card__padding">
				<div class="card__share">
					<a id="share" class="share-icon" href="{{project.link}}" target="_blank"><i class="fas fa-share"></i></a>
				</div>
				<div class="card__meta">
					{%if project.average_score != 0.0 %}
					<a href="#">{{project.average_score | floatformat:0}}</a>
					{%else%}
					{% endif %}
					<time>{{project.post_date}}</time>
				</div>
				<article class="card__article">
					<h3><a href="{% url 'project' project.id %}">{{project.name}}</a></h3>
					<p>{{project.description}}</p>
				</article>
			</div>
			<div class="card__action">
				<div class="card__author">
					<img src="{{project.profile.profile_pic.url}}" alt="user">
					<div class="card__author-content">
						By <a href="{% url 'profile' project.profile.user.id %}">{{project.profile.user.username}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{%endif%}
{% endblock %}
{% block scripts %}
{{ block.super}}
<script src=" {% static 'js/script.js' %}"></script>
{% endblock %} -->