{%extends 'base.html'%} 
{% load bootstrap3 %}
{% block content %}
<div class="">
  <div class="">
    {% if projects %}
    <div class="jumbotron jumbotron-fluid bg-light">
        <div class="">
          <h2 class="display-6 text-center font-weight-bold">Found {{ projects|length }} projects for searched term {{message}}</h2>
        </div>
      </div>
    {% else %}
    <div class="jumbotron jumbotron-fluid bg-light">
        <div class="">
          <h2 class="display-5 text-center font-weight-bold">Found 0 projects for the searched term {{message}}</h2>
        </div>
      </div>
    {% endif %}

  </div>

  <div class="container-fluid">
      <div class="mb-2 pb-2 pl-4 pr-2 ml-4 mr-1">
          <h4 class="display-6 font-weight-bold"> Sites of the day </h4>
      </div>
    
        <div class="row pl-2 pr-2 ml-1 mr-1">
            {% for project_item in projects %}
            <div class="container">
                <div class="row mt-4"></div>
                <div class="row">
              
                  <!-- Grid column -->
                  <div class="col-lg-12">
              
                    <!-- Card -->
                    <div class="card card-cascade wider reverse">
              
                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        {% if project.project_image %}
                        <img class="card-img-top" src="{{project.project_image.url}}" alt="{{ project.project_name }}"
                         style="max-height: 500px;">
                        {% else %}
                        <img class="card-img-top" src="https://source.unsplash.com/1600x900/?fun,vacation"
                          alt="{{ project.project_name }}">
                        {% endif %}
                        
                        <a href="#!">
                          <div class="mask rgba-white-slight">
                            <div class="d-flex justify-content-end">
                              <a href="{{project.link}}" target="_blank" title="Visit site"> <button type="button"
                                  class="btn btn-light px-3"><i class="fas fa-directions" aria-hidden="true"></i></button>
                              </a></div>
                          </div>
                        </a>
                      </div>
              
                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">
              
                        <!-- Title -->
                        <h2 class="font-weight-bold"><a>{{ project.project_title }}</a></h2>
                        <!-- Data -->
                        <h4 class="">{{ project.project_description }}</h4>
              
                    <!-- end of card deck  -->
    
                </div>
          {% endfor %}
        </div>
    </div>

{% endblock %}